<!-- Story Section -->
    <section id="ourstory">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Story</h2>
                    <h3 class="section-subheading text-muted">A timeline of how we got to this point.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Frosh Start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We met during frosh week at Queen's University after being randomly entered into the same frosh group.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">J is for Love</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Apparently it wasn't quite love at first sight, as it took us a year or so to start dating. After an on- and off-again start, it took until December for Renee to ask "so...what are we?"</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">East and West</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Graduation from Queen's brought an uncertain future: Renee was off to Montreal while Taylor was off to Seattle. Long distance it was. With limited funds, we'd fly back and forth every ten weeks or so. Long distance was tough, but we both agree now that it made us stronger as a couple and helped us grow individually outside of the relationship too.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">West and West</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Long distance (fortunately) didn't last too long. Renee moved across the country to start a new job in Vancouver. Instead of a 5-hour flight, now we were just 3-hour car ride apart. We went back and forth 2-3 times a month, much better but still room for improvement. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-thumbnail img-responsive" src="img/IMG_1136.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020</h4>
                                    <h4 class="subheading">Pandemic? What Pandemic?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">COVID-19 let Taylor escape to Vancouver for nearly the whole year -- and this was going to be the first time we had actually lived together. Taylor proposed on the last day of our first quarantine. We managed to skip the "living together" step and go right to being engaged. How's that for efficiency.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>